<div class="card" data-ng-controller="CardController as cardCtrl" data-ng-init="cardCtrl.getCardById();">
  <div data-ng-if="cardCtrl.content.id">
    <div class="card-image-shadow"></div>
    <div class="card-image">
      <img data-ng-src="{[{cardCtrl.getUrlImgMain(cardCtrl.content)}]}">
      <span class="card-title">{[{cardCtrl.getName(cardCtrl.content)}]}</span>
      <a class="card-navigation btn-floating btn-large blue">
        <i class="material-icons">navigation</i>
      </a>
      <a class="card-close" ui-sref="home">
        <i class="material-icons">highlight_off</i>
      </a>
    </div>
    <div class="carousel carousel-slider carousel-slider-important
" data-indicators="true" data-ng-init="cardCtrl.initCarrousel('.carousel-slider-important
');">
      <div class="card-favorites-group" data-ng-if="cardCtrl.haveCardFavorites(cardCtrl.content);" data-ng-init="cardCtrl.setFavorites(cardCtrl.content);">
        <div  data-ng-repeat="favorite in cardCtrl.favorites track by $index" class="carousel-item card-panel-group green darken-2">
          <div class="card-panel-media">
            <img data-ng-src="{[{cardCtrl.getUrlImgLandscape(favorite.data)}]}"> <!-- notice the "circle" class -->
            <div class="card-panel-item-layer"></div>
            <div class="card-panel-item-score item-score-low">10</div>
            <div class="card-panel-item-favorite">
              <a href="#" class="active">
                <i class="mdi mdi-star mdi-24px"></i>
              </a>
            </div>
          </div>
          <div class="card-panel-body">
            <div class="card-panel-title white-text">{[{cardCtrl.getName(favorite.data)}]}</div>
            <div class="card-panel-description white-text">{[{cardCtrl.getDescription(favorite.data)}]}</div>
          </div>
        </div>
      </div>
        <div class="card-tops-group" data-ng-if="cardCtrl.haveCardTops(cardCtrl.content);" data-ng-init="cardCtrl.setTops(cardCtrl.content);">
          <div data-ng-repeat="top in cardCtrl.tops track by $index" class="carousel-item card-panel-group yellow darken-2">
            <div class="card-panel-media">
              <img data-ng-src="{[{cardCtrl.getUrlImgLandscape(top.data)}]}">
              <div class="card-panel-item-layer"></div>
              <div class="card-panel-item-score item-score-low">10</div>
              <div class="card-panel-item-favorite">
                <a href="#" class="active">
                  <i class="mdi mdi-star mdi-24px"></i>
                </a>
              </div>
            </div>
            <div class="card-panel-body">
              <div class="card-panel-title white-text">{[{cardCtrl.getName(top.data)}]}</div>
              <div class="card-panel-description white-text">{[{cardCtrl.getDescription(top.data)}]}</div>
            </div>
          </div>
        </div>
    </div>
    <div class="card-content">
      <div class="card-menus">
        <span class="card-title grey-text text-darken-4">Menús</span>
        <div class="menu-group" data-ng-repeat="menu in cardCtrl.getMenus(cardCtrl.content) track by $index">
          <div class="card-menu-header">
            <div class="card-menu-title">{[{cardCtrl.getName(menu)}]}</div>
            <div class="card-menu-offer" data-ng-bind-html="cardCtrl.getDressertCoffee(menu)">
            </div>
          </div>
          <ul class="collapsible" data-collapsible="accordion" data-ng-init="cardCtrl.initAccordion('.collapsible');">
            <li data-ng-if="cardCtrl.haveMenuStarters(menu)">
              <div class="collapsible-header"><i class="mdi mdi-food-fork-drink mdi-24px"></i>Entrantes</div>
              <div class="collapsible-body">
                <div class="item-group" data-ng-repeat="plate in cardCtrl.getMenuStarters(menu) track by $index" data-ng-class="{first:($index == 0)}">
                    <div class="item-media"><img data-ng-src="{[{cardCtrl.getUrlImgSquare(plate.data)}]}"/></div>
                    <div class="item-body">
                      <div class="item-title">{[{cardCtrl.getName(plate.data)}]}</div>
                      <p class="item-description">{[{cardCtrl.getDescription(plate.data)}]}</p>
                    </div>
                    <div class="item-score">0</div>
                    <div class="item-favorite">
                      <a href="#" data-ng-click="cardCtrl.toggleLike($event,plate.data.id)">
                        <i class="mdi mdi-star-outline mdi-24px"></i>
                      </a>
                    </div>
                  </div>
                </div>
            </li>
            <li data-ng-if="cardCtrl.haveMenuFirts(menu)">
              <div class="collapsible-header"><i class="mdi mdi-food-variant mdi-24px"></i>Primeros</div>
              <div class="collapsible-body">
                <div class="item-group" data-ng-repeat="plate in cardCtrl.getMenuFirts(menu) track by $index" data-ng-class="{first:($index == 0)}">
                  <div class="item-media"><img data-ng-src="{[{cardCtrl.getUrlImgSquare(plate.data)}]}"/></div>
                  <div class="item-body">
                    <div class="item-title">{[{cardCtrl.getName(plate.data)}]}</div>
                    <p class="item-description">{[{cardCtrl.getDescription(plate.data)}]}</p>
                  </div>
                  <div class="item-score">0</div>
                  <div class="item-favorite">
                    <a href="#" data-ng-click="cardCtrl.toggleLike($event,plate.data.id)">
                      <i class="mdi mdi-star-outline mdi-24px"></i>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li data-ng-if="cardCtrl.haveMenuSeconds(menu)">
              <div class="collapsible-header"><i class="mdi mdi-food mdi-24px"></i>Segundos</div>
              <div class="collapsible-body">
                <div class="item-group" data-ng-repeat="plate in cardCtrl.getMenuSeconds(menu) track by $index" data-ng-class="{first:($index == 0)}">
                  <div class="item-media"><img data-ng-src="{[{cardCtrl.getUrlImgSquare(plate.data)}]}"/></div>
                  <div class="item-body">
                    <div class="item-title">{[{cardCtrl.getName(plate.data)}]}</div>
                    <p class="item-description">{[{cardCtrl.getDescription(plate.data)}]}</p>
                  </div>
                  <div class="item-score">0</div>
                  <div class="item-favorite">
                    <a href="#" data-ng-click="cardCtrl.toggleLike($event,plate.data.id)">
                      <i class="mdi mdi-star-outline mdi-24px"></i>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li data-ng-if="cardCtrl.haveMenuDesserts(menu)">
              <div class="collapsible-header"><i class="mdi mdi-food-apple mdi-24px"></i>Postres</div>
              <div class="collapsible-body">
                <div class="item-group" data-ng-repeat="plate in cardCtrl.getMenuDesserts(menu) track by $index" data-ng-class="{first:($index == 0)}">
                  <div class="item-media"><img data-ng-src="{[{cardCtrl.getUrlImgSquare(plate.data)}]}"/></div>
                  <div class="item-body">
                    <div class="item-title">{[{cardCtrl.getName(plate.data)}]}</div>
                    <p class="item-description">{[{cardCtrl.getDescription(plate.data)}]}</p>
                  </div>
                  <div class="item-score">0</div>
                  <div class="item-favorite">
                    <a href="#" data-ng-click="cardCtrl.toggleLike($event,plate.data.id)"> 
                      <i class="mdi mdi-star-outline mdi-24px"></i>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card-menu-footer">
            <div class="card-menu-price">{[{cardCtrl.getPrice(menu)}]} €</div>
          </div>
        </div>
      </div>
      <div class="card-better">
        <span class="card-title grey-text text-darken-4">Mejores Platos</span>
        <div class="carousel carousel-slider carousel-slider2" data-indicators="true" data-ng-init="cardCtrl.initCarrousel('.carousel-slider2');">
          <div class="carousel-item">
            <img src="http://lorempixel.com/400/200/food/1">
            <div class="carousel-item-layer"></div>
            <div class="carousel-item-score item-score-higth">80</div>
            <div class="carousel-item-favorite">
              <a href="#">
                <i class="mdi mdi-star-outline mdi-24px"></i>
              </a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="http://lorempixel.com/400/200/food/2">
            <div class="carousel-item-layer"></div>
            <div class="carousel-item-score item-score-medium">40</div>
            <div class="carousel-item-favorite">
              <a href="#" class="active">
                <i class="mdi mdi-star mdi-24px"></i>
              </a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="http://lorempixel.com/400/200/food/3">
            <div class="carousel-item-layer"></div>
            <div class="carousel-item-score item-score-low">10</div>
            <div class="carousel-item-favorite">
              <a href="#">
                <i class="mdi mdi-star-outline mdi-24px"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-action">
      <a ui-sref="home" class="return">Volver al mapa</a>
    </div>
  </div>
</div>