<div class="card" data-ng-controller="CardController as cardCtrl">
  <div class="card-image-shadow"></div>
  <div class="card-image">
    <img src="http://www.gruposhow.es/gestion/contenidos/galeria/1/FRA_0177.JPG">
    <span class="card-title">Restaurante Kokken</span>
    <a class="card-navigation btn-floating btn-large blue">
      <i class="material-icons">navigation</i>
    </a>
    <a class="card-close" ui-sref="home">
      <i class="material-icons">highlight_off</i>
    </a>
  </div>
  <div class="card-panel-group teal lighten-2">
    <div class="card-panel-media">
      <img src="http://lorempixel.com/400/200/food/1"> <!-- notice the "circle" class -->
      <div class="card-panel-item-layer"></div>
      <div class="card-panel-item-score item-score-low">10</div>
      <div class="card-panel-item-favorite">
        <a href="#" class="active">
          <i class="mdi mdi-star mdi-24px"></i>
        </a>
      </div>
    </div>
    <div class="card-panel-body">
      <div class="card-panel-title white-text">Salpicon de pollo</div>
    </div>
  </div>
  <div class="card-content">
    <div class="card-menus">
      <span class="card-title grey-text text-darken-4">Menús</span>
      <div class="menu-group">
        <div class="card-menu-header">
          <div class="card-menu-title">Menú principal</div>
          <div class="card-menu-offer">
            <span class="card-menu-offer-desserts">
              <i class="mdi mdi-food-apple mdi-24px"></i>
              <span class="and-or">y</span>
              <i class="mdi mdi-coffee mdi-24px"></i>
            </span>
          </div>
        </div>
        <ul class="collapsible" data-collapsible="accordion" data-ng-init="cardCtrl.initAccordion('.collapsible');">
          <li>
            <div class="collapsible-header"><i class="mdi mdi-food-variant mdi-24px"></i>Primeros</div>
            <div class="collapsible-body">
              <div class="item-group first">
                <div class="item-media"><img src="http://lorempixel.com/200/200/food/1/"/></div>
                <div class="item-body">
                  <div class="item-title">Salpicon de pollo</div>
                  <p class="item-description">pimiento, cebolla, pollo, salsa</p>
                </div>
                <div class="item-score">0</div>
                <div class="item-favorite">
                  <a href="#">
                    <i class="mdi mdi-star-outline mdi-24px"></i>
                  </a>
                </div>
              </div>
              <div class="item-group">
                <div class="item-media"><img src="http://lorempixel.com/200/200/food/2/"/></div>
                <div class="item-body">
                  <div class="item-title">Salpicon de pollo</div>
                  <p class="item-description">pimiento, cebolla, pollo, salsa</p>
                </div>
                <div class="item-score item-score-low">10</div>
                <div class="item-favorite">
                  <a href="#">
                    <i class="mdi mdi-star-outline mdi-24px"></i>
                  </a>
                </div>
              </div>
              <div class="item-group">
                <div class="item-media"><img src="http://lorempixel.com/200/200/food/3/"/></div>
                <div class="item-body">
                  <div class="item-title">Salpicon de pollo</div>
                  <p class="item-description">pimiento, cebolla, pollo, salsa</p>
                </div>
                <div class="item-score item-score-medium">40</div>
                <div class="item-favorite">
                  <a href="#" class="active">
                    <i class="mdi mdi-star mdi-24px"></i>
                  </a>
                </div>
              </div>
              <div class="item-group last">
                <div class="item-media"><img src="http://lorempixel.com/200/200/food/4/"/></div>
                <div class="item-body">
                  <div class="item-title">Salpicon de pollo</div>
                  <p class="item-description">pimiento, cebolla, pollo, salsa</p>
                </div>
                <div class="item-score item-score-higth">80</div>
                <div class="item-favorite">
                  <a href="#">
                    <i class="mdi mdi-star-outline mdi-24px"></i>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="mdi mdi-food mdi-24px"></i>Segundos</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="mdi mdi-food-apple mdi-24px"></i>Postres</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
          </li>
        </ul>
        <div class="card-menu-footer">
          <div class="card-menu-price">10€</div>
        </div>
      </div>
      <div class="menu-group">
        <div class="card-menu-header">
          <div class="card-menu-title">Menú ejecutivo</div>
          <div class="card-menu-offer">
              <span class="card-menu-offer-desserts">
                <i class="mdi mdi-food-apple mdi-24px"></i>
                <span class="and-or">o</span>
                <i class="mdi mdi-coffee mdi-24px"></i>
              </span>
            </div>
          </div>
        </div>
        <ul class="collapsible" data-collapsible="accordion" data-ng-init="cardCtrl.initAccordion('.collapsible');">
          <li>
            <div class="collapsible-header"><i class="mdi mdi-food-variant mdi-24px"></i>Primeros</div>
            <div class="collapsible-body">
              <div class="item-group first">
                <div class="item-media"><img src="http://lorempixel.com/200/200/food/1/"/></div>
                <div class="item-body">
                  <div class="item-title">Salpicon de pollo</div>
                  <p class="item-description">pimiento, cebolla, pollo, salsa</p>
                </div>
                <div class="item-score">0</div>
              </div>
              <div class="item-group">
                <div class="item-media"><img src="http://lorempixel.com/200/200/food/2/"/></div>
                <div class="item-body">
                  <div class="item-title">Salpicon de pollo</div>
                  <p class="item-description">pimiento, cebolla, pollo, salsa</p>
                </div>
                <div class="item-score item-score-low">10</div>
              </div>
              <div class="item-group">
                <div class="item-media"><img src="http://lorempixel.com/200/200/food/3/"/></div>
                <div class="item-body">
                  <div class="item-title">Salpicon de pollo</div>
                  <p class="item-description">pimiento, cebolla, pollo, salsa</p>
                </div>
                <div class="item-score item-score-medium">40</div>
              </div>
              <div class="item-group last">
                <div class="item-media"><img src="http://lorempixel.com/200/200/food/4/"/></div>
                <div class="item-body">
                  <div class="item-title">Salpicon de pollo</div>
                  <p class="item-description">pimiento, cebolla, pollo, salsa</p>
                </div>
                <div class="item-score item-score-higth">80</div>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="mdi mdi-food mdi-24px"></i>Segundos</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="mdi mdi-food-apple mdi-24px"></i>Postres</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
          </li>
        </ul>
        <div class="card-menu-footer">
          <div class="card-menu-price">15€</div>
        </div>
      </div>
      <div class="card-better">
      <span class="card-title grey-text text-darken-4">Mejores Platos</span>
      <div class="carousel carousel-slider carousel-slider2" data-indicators="true" data-ng-init="cardCtrl.initCarrousel('.carousel-slider2');">
        <div class="carousel-item">
          <img src="http://lorempixel.com/400/200/food/1">
          <div class="carousel-item-layer"></div>
          <div class="carousel-item-score item-score-higth">80</div>
          <div class="carousel-item-favorite">
            <a href="#">
              <i class="mdi mdi-star-outline mdi-24px"></i>
            </a>
          </div>
        </div>
        <div class="carousel-item" href="#two!">
          <img src="http://lorempixel.com/400/200/food/2">
          <div class="carousel-item-layer"></div>
          <div class="carousel-item-score item-score-medium">40</div>
          <div class="carousel-item-favorite">
            <a href="#" class="active">
              <i class="mdi mdi-star mdi-24px"></i>
            </a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="http://lorempixel.com/400/200/food/3">
          <div class="carousel-item-layer"></div>
          <div class="carousel-item-score item-score-low">10</div>
          <div class="carousel-item-favorite">
            <a href="#">
              <i class="mdi mdi-star-outline mdi-24px"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-action">
    <a ui-sref="home" class="return">Volver al mapa</a>
  </div>
</div>