<div id="content_home" ng-controller="ContenidoController as contenidoCtrl" scroll="document" scroll-wall-selector=".wall" ng-init="contenidoCtrl.render({nameState:'home',filterType:'all',cache:true});contenidoCtrl.loadCards('.wall');contenidoCtrl.askByNewContent();">
	<section class="destacado" ng-init="contenidoCtrl.getPortadas();contenidoCtrl.getNoticiasPrincipales();">
		<div ng-repeat="card in contenidoCtrl.portadas track by $index" class="brick card-{[{card.id}]} {[{card.attributes.formato}]} portada {[{'relevancia_'+card.attributes.relevancia}]} {[{contenidoCtrl.classBuho(card)}]} {[{contenidoCtrl.classRepost(card)}]}" ng-init="contenidoCtrl.updateStateContent('detailcontenido',card);">
			<style ng-if="card.attributes.colorDelLogo">
				#home .contenedor > header .bloque > h2:before,#home .contenedor > header .bloque > .header-title:before {
				    color:{[{card.attributes.colorDelLogo}]};
				}
				@media only screen and (max-width: 768px) {
					.submenu-perfil > a:before {
					    color:{[{card.attributes.colorDelLogo}]};	
					}
				}
			</style>
			<card data="contenidoCtrl.portadas[$index]"></card>
		</div>
		<div ng-repeat="card in contenidoCtrl.noticiasPrincipales track by $index" class="brick card-{[{card.id}]} {[{card.attributes.formato}]} noticia-principal {[{'relevancia_'+card.attributes.relevancia}]} {[{contenidoCtrl.classBuho(card)}]} {[{contenidoCtrl.classRepost(card)}]}" ng-init="contenidoCtrl.updateStateContent('detailcontenido',card);">
			<card data="contenidoCtrl.noticiasPrincipales[$index]"></card>
		</div>
		<section class="lista-categorias" ng-controller="CategoriaController as categoriaCtrl">
		     <div class="bloque" ng-init="categoriaCtrl.getAll()">
		          <h4>Categorías</h4>
		                <ul>
		                        <li class="lista-cate-{[{item.id}]}" ng-repeat="item in categoriaCtrl.contents track by $index"  ng-if="!item.relationships.parents">
		                            <a ui-sref="contenidosbycategoria({id: item.id})" href="javascript:void(0);" role="button">{[{item.attributes.nombre}]}</a>
		                        </li>
		                </ul>
		        </div>
		 </section>
	</section>
	<section class="wall">
		<test data="contenidoCtrl.contents"></test>
	</section>
	<div class="loading-card hidden">
		<img src="images/spinner.gif" />
	</div>
</div>