<div id="map" class="container" data-ng-controller="MapController as mapCtrl" data-ng-click="mapCtrl.init();">
    <div id="main-menu">
      <ul id="slide-out" class="side-nav">
        <li><div class="userView">
          <img class="background" src="images/office.jpg">
          <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
          <a href="#!name"><span class="white-text name">John Doe</span></a>
          <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div></li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li><div class="divider"></div></li>
        <li>
          <div>Aquí va el login</div>
        </li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
      </ul>
      <a href="#" data-activates="slide-out" class="action-button button-collapse"><i class="material-icons small">menu</i></a>
    </div>
    <div id="map-layer"></div>
    <script>
    	function initMap() {
    		//setTimeout(function() {
    			angular.element('#map').scope().mapCtrl.initMap();
    		//},50);
    	}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJXI0Ul_ef-tPmKaNFqvCTQUIPJWO2osw&callback=initMap"
        async defer></script>
    <div class="map action-buttons">
      <div class="row">
          <div class="switch">
            <label>
              <i class="small material-icons">grade</i>
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
      </div>
      <div class="row">
          <div class="switch">
            <label>
              <i class="small material-icons">equalizer</i>
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
      </div>
      <div class="row">
          <div class="switch">
            <label>
              <i class="small material-icons">room</i>
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
      </div>
      <div class="row">
           <form action="#">
            <p class="range-field">
              <input type="range" id="distance" min="0" max="2" step="0.1" start="2"/>
            </p>
          </form>
      </div>
    </div>
</div>