<div class="row" data-ng-controller="MenuController as menuCtrl">
	<div class="col s12">
		<div class="row">
			<a ui-sref="home" class="return">Volver al mapa</a>
			<h2 class="header">Crear menú</h2>
		</div>
	</div>
	<form class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<p>Dinos el nombre de tu menú:</p>
			</div>
			<div class="input-field col s12">
				<input id="name" type="text" class="validate" length="15" data-ng-model="menuCtrl.content.attributes.name">
				<label for="name">Nombre</label>
			</div>
		</div>
		<div class="row">
			<div class="submit-field col s12">
				<button id="submit" type="submit" class="waves-effect waves-light btn" progress-button="menuCtrl.progressStart(newPostForm)" data-ng-disabled="!menuCtrl.isSubmitActive()"><i class="material-icons left">cloud</i>Enviar</button>
			</div>
		</div>
	</form>
</div>