<div class="row" data-ng-controller="PlateController as plateCtrl">
	<div class="col s12">
		<div class="row">
			<a ui-sref="home" class="return">Volver al mapa</a>
			<h2 class="header">Crear plato</h2>
		</div>
	</div>
	<form class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<p>Dinos el nombre de tu plato:</p>
			</div>
			<div class="input-field col s12">
				<input id="name" type="text" class="validate" length="15" data-ng-model="plateCtrl.content.attributes.name">
				<label for="name">Nombre</label>
			</div>
			<div class="input-field col s12">
				<textarea name="" id="description" type="text" class="materialize-textarea validate" row="15" data-ng-model="plateCtrl.content.attributes.description"></textarea>
				<label for="name">Descripción</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<fileimage template="plate"></fileimage>
			</div>
		</div>
		<div class="row">
			<div class="submit-field col s12">
				<button id="submit" type="submit" class="waves-effect waves-light btn" progress-button="plateCtrl.progressStart(newPostForm)" data-ng-disabled="!plateCtrl.isSubmitActive()"><i class="material-icons left">cloud</i>Enviar</button>
			</div>
		</div>
	</form>
</div>