<div class="row" data-ng-controller="RestaurantController as restaurantCtrl">
	<div class="col s12">
		<a data-ui-sref="restaurant-create" class="btn-action btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
		<ul class="collection" data-ng-init="restaurantCtrl.getAllByUserId()">
			<li class="collection-item avatar" data-ng-repeat="item in restaurantCtrl.contents track by $index" data-ng-if="restaurantCtrl.contents.length > 0">
				<a class="collection-item-link" data-ui-sref="restaurant-update({id:item.id})" >
					<img data-ng-src="{[{restaurantCtrl.getUrlImgSquare(item)}]}" class="circle" />
					<span class="title">{[{restaurantCtrl.getName(item)}]}</span>
					<div class="secondary-content"><i class="material-icons">edit</i></div>
				</a>
			</li>
			<li class="collection-item" data-ng-if="restaurantCtrl.contents.length < 1"><div>Todavia no has añadido ningún restaurante</div></li>
		</ul>
	</div>
</div>