var configILovePlatos:any = {};

module ILovePlatos{
    'use strict';

    configILovePlatos = {
        domain: 'iloveplatos.eu.auth0.com',//prod
        clientID: 'bIiUeqKlZK2dXER8m0oY8C3dm4JTF3mu',//prod
        protocolApirest:"http://",
        domainApirest:'52.174.57.132:5000',
        cdn:'frontend.cdn.buhomag.com',
        protocolCdn:"http://",
        bucket:'production-frontend',
        protocolFront:"http://",
        domainFront:'iloveplatos.com',
        emailContacto:'dmunoz@opensistemas.com'
    }

}