.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Mine
node_modules
platforms
app/**/*.js
app/**/*.js.map
*.sublime-project
*.sublime-workspace

# App
app/node_modules
app/plugins
app/platforms
app/www

# Frontend
frontend/web/built
frontend/node_modules
frontend/web/js/bower_components
frontend/web/typings/
frontend/web/css/iloveplatos.min.css
frontend/web/js/config.ts
