<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html lang="es"  ng-app="ILovePlatos"  data-ng-controller="MainController as mainCtrl">
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline'; style-src 'self' * 'unsafe-inline';font-src data: * 'self' 'unsafe-inline' 'unsafe-eval'; script-src * 'self' 'unsafe-inline' 'unsafe-eval'; img-src blob: data: * ;connect-src blob: data: * ;">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <meta charset="UTF-8" />

        <base href="/">

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="apple-touch-icon-precomposed" href="favicon.ico">

        <title>iLovePlatos</title>

        <meta name="title" content="iLovePlatos" />
        <meta name="description" content="Rellenar description" />
        <meta name="keywords" content="love,platos,menu,restaurante" />

        <meta name="og:title" content="iLovePlatos" />
        <meta name="og:description" content="Rellenar description" />
        <meta name="og:type" content="website" />
        <!--meta name="og:url" content="http://www.buhomag.com" /-->
        <!--meta name="og:image" content="http://frontend.cdn.buhomag.com/images/buho.png" /-->
        <!--meta name="fb:app_id" content="1659320774310612" /-->
        <meta name="og:site_name" content="iLovePlatos"/>

        <!--meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="http://www.buhomag.com" />
        <meta name="twitter:description" content="TITULO HOME" />
        <meta name="twitter:image" content="http://frontend.cdn.buhomag.com/images/buho.png" />
        <meta name="twitter:site" content="@BuhoMag" /-->

        <!-- endbower -->
        <!--style class="cards"></style-->
        <!-- Compiled and minified CSS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="js/bower_components/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <link rel="stylesheet" href="css/styles.css">

        <script src="built/js/_bower.min.js"></script>

        <!-- Compiled and minified JavaScript -->
        <script src="lib/ngMeta/dist/ngMeta.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
        <script src="lib/materialize-autocomplete/jquery.materialize-autocomplete.js"></script>

        <script src="js/i18n/es_ES.js"></script>
        <script src="js/i18n/en_EN.js"></script>

        <script src="lib/angular-storage/dist/angular-storage.js"></script>

        <!--link rel='stylesheet' href='lib/material-refresh/build/css/material-refresh.min.css'/-->
        <!--script src='lib/material-refresh/build/js/material-refresh.js'></script-->
        
        <!--script src="jsx/templates.js"></script-->
        <script src="built/js/iloveplatos.js"></script>

        <!--script language="JavaScript" type="text/javascript">
            function getStateConnextion() {
                var connection = false;                

                if(navigator && navigator.connection) {
                    var networkState = navigator.connection.type;

                    var states = {};

                    states[Connection.UNKNOWN]  = false;
                    states[Connection.ETHERNET] = 'Ethernet connection';
                    states[Connection.WIFI]     = 'WiFi connection';
                    states[Connection.CELL_2G]  = 'Cell 2G connection';
                    states[Connection.CELL_3G]  = 'Cell 3G connection';
                    states[Connection.CELL_4G]  = 'Cell 4G connection';
                    states[Connection.CELL]     = 'Cell generic connection';
                    states[Connection.NONE]     = false;
                }

                connection = states[networkState]

                return connection;
            }

            document.addEventListener("deviceready", function () {

                var connection = getStateConnextion();

                if(!connection) {
                    console.log('No tienes conexión');
                    window.location = 'file:///android_asset/www/errorNotConexion.html';
                }

              }, false);

              setInterval(function() {
                var connection = getStateConnextion();
                if(!connection) {
                    if(window.plugins && window.plugins.toast) {
                        window.plugins.toast.show('Upss!! Esta aplicación necesita conectarse a la red.', 6000, 'bottom', function(a){});
                    }
                }
              },5000);

        </script-->

        <link rel="icon" type="image/x-icon" href="favicon.ico" />

        <!--script type="text/javascript" src="cordova.js"></script-->
        <!--script type="text/javascript" src="js-default/index.js"></script-->

    </head>

    <body class="appNative browser" ng-class="[mainCtrl.customClass]" id="{[{mainCtrl.id}]}">
        <div data-ng-controller="UserController as userCtrl" ng-class="{'no-login':!userCtrl.currentUser,'login':userCtrl.currentUser}">
            <div id="main-menu">
              <a class="back ng-hide" data-ng-show="mainCtrl.title != 'Home'" data-ng-click="mainCtrl.goBack();"><i class="mdi mdi-chevron-left"></i></a>
              <h1 class="ng-hide" data-ng-show="mainCtrl.title != 'Home' ">{[{mainCtrl.title}]}</h1>
              <ul id="slide-out" class="side-nav">
                <li ng-if="userCtrl.isLogged()">
                  <div class="userView">
                      <img class="background" src="images/skullz.jpg">
                      <a href="#!user"><img class="circle" src="images/cheff.jpg"></a>
                      <a href="#!name"><span class="white-text name">David Muñoz</span></a>
                      <a href="#!email"><span class="white-text email">dmunoz@opensistemas.com</span></a>
                  </div>
                </li>
                <li ng-if="!userCtrl.isLogged()">
                  <div id="login">
                    <div data-ng-init="userCtrl.login();" class="login">
                      <div id="hiw-login-container"></div>
                    </div>
                  </div>
                </li>
                <li ng-if="userCtrl.isLogged()">
                  <div id="logout">
                    <a data-ng-click="userCtrl.logout();" class="waves-effect waves-light btn">Logout</a>
                  </div>
                </li>
                <li ng-if="userCtrl.isLogged()"><div class="divider"></div></li>
                <li ng-if="userCtrl.isLogged()"><a ui-sref="home" class="return">Volver al mapa</a></li>
                <li ng-if="userCtrl.isLogged()"><div class="divider"></div></li>
                <li ng-if="userCtrl.isLogged()"><a ui-sref="restaurant-list">Mis restaurantes</a></li>
                <li ng-if="userCtrl.isLogged()"><a ui-sref="plate-list">Mis platos</a></li>
                <li ng-if="userCtrl.isLogged()"><a ui-sref="menu-list">Mis menus</a></li>
              </ul>
              <a href="#" data-activates="slide-out" class="action-button button-collapse"><i class="material-icons small">menu</i></a>
            </div>
            <div class="content-view">
                <div data-ui-view data-anim-speed="1000" data-anim-sync="true"></div>
                <map></map>
            </div>
        </div>

        <script>
        function initMap() {
            jQuery().ready(function() {
                setTimeout(function() {
                    angular.element('#map').scope().mapCtrl.initMap();
                },200);
            });
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJXI0Ul_ef-tPmKaNFqvCTQUIPJWO2osw&callback=initMap"></script>
        <script src="js/bower_components/map-icons/dist/js/map-icons.js"></script>
        <link rel=stylesheet href="js/bower_components/map-icons/dist/css/map-icons.css" />

        <!--script async src="built/js/iloveplatos-core.min.js"></script-->
    </body>

    <link rel="stylesheet" href="built/css/_bower.min.css" />
    <!-- css que no puede comprimir porque no puedo cambiar la ruta -->
    <link rel="stylesheet" href="js/bower_components/font-awesome/css/font-awesome.min.css" />

</html>