version: "2"
services:
  neo4j:
    build: neo4j/
#    image: neo4j
#    env_file:
#     - .neo4j.env
    cap_add:
     - SYS_RESOURCE
    ports:
     - "7474:7474"
  web:
    build: .
    ports:
     - "5000:5000"
    volumes:
     - .:/code
    depends_on:
     - neo4j
