<div id="map" class="container" data-ng-show="mapCtrl.isHome();">
    <div id="map-layer"></div>
    <div class="map action-buttons">
      <div class="row">
          <div class="switch">
            <label>
              <i class="small material-icons">grade</i>
              <input type="checkbox" data-ng-model="mapCtrl.filters.favorites" data-ng-change="mapCtrl.reloadMap()">
              <span class="lever"></span>
            </label>
          </div>
      </div>
      <div class="row">
          <div class="switch">
            <label>
              <i class="small material-icons">equalizer</i>
              <input type="checkbox" data-ng-model="mapCtrl.filters.top" data-ng-change="mapCtrl.reloadMap()">
              <span class="lever"></span>
            </label>
          </div>
      </div>
      <div class="row">
          <div class="switch">
            <label>
              <i class="small material-icons">room</i>
              <input type="checkbox" data-ng-model="mapCtrl.filters.all" data-ng-change="mapCtrl.reloadMap()">
              <span class="lever"></span>
            </label>
          </div>
      </div>
      <div class="row">
           <form action="#">
            <p class="range-field">
              <input type="range" id="distance" min="0.2" max="2" step="0.2" data-ng-model="mainCtrl.position.range" data-ng-change="mapCtrl.reloadRangeMap()"/>
            </p>
          </form>
      </div>
    </div>
</div>