/*Container*/
.container {
	height: 100vh;
	width: 100%;
	margin:0px;
}

/*general*/
.btn-action {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/*Collection*/
.collection .collection-item.avatar {
	min-height: 60px;
}
.collection .collection-item.avatar .square {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

/*Map*/
#map-layer {
	height: 100%;
	width: 100%;	
}
#map.loading {
	position: relative;
	visibility: hidden;
}
#locationField, #controls {
  position: relative;
  width: 480px;
}
#location {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 99%;
}
.label {
  text-align: right;
  font-weight: bold;
  width: 100px;
  color: #303030;
}
#address {
  border: 1px solid #000090;
  background-color: #f0f0ff;
  width: 480px;
  padding-right: 2px;
}
#address td {
  font-size: 10pt;
}
.field {
  width: 99%;
}
.slimField {
  width: 80px;
}
.wideField {
  width: 200px;
}
#locationField {
  height: 20px;
  margin-bottom: 2px;
}

/*main-menu*/
#home #main-menu {
	display: block;
}
#main-menu {
	position: absolute;
	z-index: 999;
	background: rgba(255,255,255,0.6);
	width: calc(100% - 20px);
	margin: 10px;
	display: none;
}
#main-menu a.action-button{
	position: relative;
	top: 4px;
    	left: 4px;
}
#main-menu a.action-button i{
	font-size: 30px;
	color: #000;
}

/*map action-buttons*/
.map.action-buttons {
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: rgba(255, 255, 255, 0.6);
	padding: 10px 35px 0 35px;
	transform: scale(0.8);
}
.map.action-buttons label i{
	position: relative;
	top:10px;
}

/*card*/
.card {
	margin: 0;
}
/*card panel */
.card .card-panel {
	margin:0;
	padding: 0;
}
.card .card-panel .row{
	margin-bottom: 0;
}
.card .card-panel .col{
	padding: 5px;
}
.card .card-panel .col-left{
	padding: 0px;
	margin-bottom: -6px;
}
/*car menu*/
.card-menu-header {
	background: rgba(0,0,0,0.1);
    	padding: 5px;	
}
.card-menu-title{
	display: inline-block;
}
.card-menu-offer {
	text-align: right;
	display: inline-block;
	float: right;
}
.card-menu-offer i{
	position: relative;
    	top: -2px;
    	color: rgba(0,0,0,0.4);
}
.card-menu-offer span.and-or{
	position: relative;
	top:-4px;
	color: rgba(0,0,0,0.4);
}
.card .card-menus .collapsible{
	margin-bottom:5px;
}
.card-menu-footer {
	width: 100%;
    	margin-bottom: 10px;
}
.card-menu-price{
	width: 100%;
	text-align: right;
	font-size: 25px;
	 color: #00b0ff
}
.card-menu-separator {
	 margin: 0 5px;
}
.card .card-image .card-title {
	background: rgba(0,0,0,.4);
	margin: 10px;
	padding: 10px;
	width: 80%;
}
.card .card-image .card-navigation {
	position: absolute;
	right: 13px;
	bottom: -24px;
}
.card .card-image .card-close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
}
.card .card-image .card-close i{
	font-size: 30px;
	background: rgba(0,0,0,0.5);
	padding: 2px;
	border-radius: 50%;
}
/*card panel*/
.card-panel-group {
	width: 100%;
	height: calc((100vw * 0.45)/2);
}
.card-panel-media {
	display: inline-block;
	width:45%;
	line-height: 0;
	position: relative;
	height: calc((100vw * 0.45)/2);
}
.card-panel-media img{
	width: 100%;
}
.card-panel-body {
	display: inline-block;
	width: calc(55% - 10px);
	vertical-align: top;
	padding: 15px 0 5px 5px;
    	line-height: initial;
}
.card-panel-title {
	margin-bottom: 5px;
	font-weight: 200;
}
p.card-panel-description {
	padding:0; 
	font-size: 0.8em;
}
.card-panel-item-favorite {
	position: absolute;
	top: 8px;
    	right: 8px;
}
.card-panel-item-favorite a {color: #eaeced; padding: 10px 0;}
.card-panel-item-favorite a.active {color:#039be5;}
.card-panel-item-favorite a:hover {
	color:#8bc34a!important;
}
.card-panel-item-score {
	position: absolute;
	top: 46px;
    	right: 10px;
	font-size: 20px;
}
.card-panel-item-layer {
	width: 42px;
	position: absolute;
	top: 0;
	right: 0;
	height: 66px;
	background: rgba(0,0,0,0.6);
}
/*item*/
.item-group {
	width: calc(100%);
    	padding: 8px 8px 2px 8px;
    	position: relative;
}
.item-group:hover {
	background: rgba(0,0,0,0.1);
}
.item-group:hover .item-favorite a{
	color:#fff;
}
.item-group:hover .item-favorite a.active{
	color:#039be5;
}
.item-group.first{
}
.item-group.last{
}
.item-media {
	display: inline-block;
	width:30%;
}
.item-media img{
	width: 100%;
}
.item-body {
	display: inline-block;
	width:60%;
	vertical-align: top;
	padding: 5px 0 5px 5px;
}
.item-title {
	margin-bottom: 5px;
	font-weight: 500;
}
p.item-description {
	padding:0; 
	font-size: 0.8em;
}
.item-score {
	display: inline-block;
	width: 7%;
	vertical-align: bottom;
    	text-align: center;
    	position: relative;
    	top: -2px
}
.item-score-low {
	color:#c8e6c9;
}
.item-score-medium {
	color:#81c784;
}
.item-score-higth {
	color:#4caf50;
}
.item-favorite {
	position: absolute;
	top: 4px;
	right: 4px;
}
.item-favorite a {color: #eaeced; padding: 10px 0;}
.item-favorite a.active {color:#039be5;}
.item-favorite a:hover {
	color:#8bc34a!important;
}

/*card action*/
.card-action a.return {
	text-align: right;
	display: block;
    	width: 100%;
}

/*carrousel item favorite*/
.carousel-item-favorite {
	position: absolute;
	top: 10px;
	right: 10px;
}
.carousel-item-favorite a {color: #eaeced; padding: 10px 0;}
.carousel-item-favorite a.active {color:#039be5;}
.carousel-item-favorite a:hover {
	color:#8bc34a!important;
}
.carousel-item-score {
	position: absolute;
	top: 31px;
    	right: 10px;
	font-size: 20px;
}
.carousel-item-layer {
	width: 42px;
	position: absolute;
	top: 0;
	right: 0;
	height: 66px;
	background: rgba(0,0,0,0.6);
}
/*waypoint*/
.card-down .card .card-image{
	position: fixed;
    	top: -120px;
    	z-index: 1000;
}
.card-image-shadow {
	width: 100%;
}

/*---------------------form--------------------*/

/*input-image*/
.input-filed .fileimage input{
	display: none;
}
/*canvas*/
#preview canvas {
	width: 100%;
}
.canvasCropper-image img{
	width: 50%;
	float: left;
}
.canvasCropper-image.cuadrado {
	margin-bottom: 10px;
}
#canvasHidden {
	display: none;
}