/*Container*/
.container {
	height: 100vh;
	width: 100%;
	margin:0px;
}

/*Map*/
#map-layer {
	height: 100%;
	width: 100%;	
}

/*main-menu*/
#main-menu a.action-button{
	position: absolute;
	top: 10px;
	z-index: 1;
	right: 10px;
}

/*map action-buttons*/
.map.action-buttons {
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: rgba(255, 255, 255, 0.6);
	padding: 10px 35px 0 35px;
	transform: scale(0.8);
}
.map.action-buttons label i{
	position: relative;
	top:10px;
}

/*card*/
.card .card-panel {
	margin:0;
	padding: 0;
}
.card .card-panel .row{
	margin-bottom: 0;
}
.card .card-panel .col{
	padding: 5px;
}
.card .card-panel .col-left{
	padding: 0px;
	ımargin-bottom: -6px;
}
.card-menu-title {
	background: rgba(0,0,0,0.1);
    	padding: 5px;	
}
.card .card-image .card-title {
	background: rgba(0,0,0,.4);
	margin: 10px;
	padding: 10px;
	width: 80%;
}
.card .card-image .card-navigation {
	position: absolute;
	right: 13px;
	bottom: -24px;
}
.card .card-image .card-close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
}
.card .card-image .card-close i{
	font-size: 30px;
	background: rgba(0,0,0,0.5);
	padding: 2px;
	border-radius: 50%;
}
/*card panel*/
.card-panel-group {
	width: 100%;
	line-height: 0;
}
.card-panel-media {
	display: inline-block;
	width:45%;
	line-height: 0;
}
.card-panel-media img{
	width: 100%;
}
.card-panel-body {
	display: inline-block;
	width: calc(55% - 10px);
	vertical-align: top;
	padding: 15px 0 5px 5px;
    	line-height: initial;
}
.card-panel-title {
	margin-bottom: 5px;
	font-weight: 200;
}
p.card-panel-description {
	padding:0; 
	font-size: 0.8em;
}
/*item*/
.item-group {
	width: calc(100%);
    	padding: 8px 8px 2px 8px;
    	position: relative;
}
.item-group:hover {
	background: rgba(0,0,0,0.1);
}
.item-group:hover .item-favorite a{
	color:#fff;
}
.item-group:hover .item-favorite a.active{
	color:#039be5;
}
.item-group.first{
}
.item-group.last{
}
.item-media {
	display: inline-block;
	width:30%;
}
.item-media img{
	width: 100%;
}
.item-body {
	display: inline-block;
	width:60%;
	vertical-align: top;
	padding: 5px 0 5px 5px;
}
.item-title {
	margin-bottom: 5px;
	font-weight: 500;
}
p.item-description {
	padding:0; 
	font-size: 0.8em;
}
.item-score {
	display: inline-block;
	width: 7%;
	vertical-align: bottom;
    	text-align: center;
    	position: relative;
    	top: -2px
}
.item-score-low {
	color:#c8e6c9;
}
.item-score-medium {
	color:#81c784;
}
.item-score-higth {
	color:#4caf50;
}
.item-favorite {
	position: absolute;
	top: 4px;
	right: 4px;
}
.item-favorite a {color: #eaeced; padding: 10px 0;}
.item-favorite a.active {color:#039be5;}
.item-favorite a:hover {
	color:#8bc34a!important;
}

/*card action*/
.card-action a.return {
	text-align: right;
	display: block;
    	width: 100%;
}